{% extends 'base.html' %}

{% block head %} 
<title>Check-In Logger</title>
{% endblock %}

{% block body %}


<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            <h1 class="display-4 py-2 text-truncate">Check-In Logger</h1>
            {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p>{{ messages[0] }}</p>
                {% endif %}
            {% endwith %}
            <br>
            <div class="px-2">
                <form action="{{ url_for('check_in') }}" method='POST' class="justify-content-center">
                    <div class="form-group">
                        <input type="date" class="form-control" name="date" value="{{ date_now }}" required >
                    </div>
                    <div class="form-group">
                        <label for="month">Employee ID:</label>
                        <input type="number" class="form-control" name="user_id" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="month">Manager ID:</label>
                        <input type="number" class="form-control" name="manager_id" required>
                    </div>
                    <div class="form-group">
                        <label for="month">Project ID:</label>
                        <input type="number" class="form-control" name="project_id" required>
                    </div>
                    <div class="form-group">
                        <label for="month">Hours:</label>
                        <input type="number" step="0.01" class="form-control" name="hours" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Check-In</button>
                </form>
            </div>
            <br>
            <small><a href="/">Check-In Manager</a></small>
        </div>
    </div>
</section>

<style>
#cover {
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}
#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}
</style>

{% endblock %}
