{% extends 'base.html' %}

{% block head %} 
<title>Employee Check-In Manager</title>
{% endblock %}

{% block body %} 
<br>
<center><h1>Employee Check-In Manager</h1></center>
<br>
<form id="search_form" action='/' method='POST'>
  <div class="form-group">
    <label for="user_id">Enter Employee ID:</label>
    <input type="number" class="form-control" name="user_id" value="{{ values.user_id }}">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="month">Month:</label>
      <input type="month" class="form-control" name="month" value="{{ values.month }}">
    </div>
    <div class="form-group col-md-6">
      <label for="project_id">Project ID:</label>
      <input type="number" class="form-control" name="project_id" value="{{ values.project_id }}">
    </div>
  </div>
  <a href="{{ url_for('check_in') }}" class="btn btn-secondary">Add</a>
  <small><a href={{ url_for('upload_csv') }}>Upload CSV</a></small>
  <div class = "float-right">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="reset-btn btn btn-outline-secondary">Clear</button>
  </div>
  </form>

<br>
<table id="checkin-table" class="table table-striped table-hover table-bordered" style="width:100%">
  <thead>
      <tr>
          <th>Date</th>
          <th>Project</th>
          <th>Manager</th>
          <th>Employee</th>
          <th>Hours</th>
      </tr>
  </thead>
  <tbody>      

      {% for checkin in checkins.items %}
        <tr>
          <td>{{ checkin.date }}</td>
          <td>{{ checkin.project_id }}</td>
          <td>{{ checkin.manager_id }}</td>
          <td>{{ checkin.user_id }}</td>
          <td>{{ checkin.hours }}</td>
        </tr>
      {% endfor %}

      
      {% for page_num in checkins.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if values %}
            {% if checkins.page == page_num %}
              <a class="btn btn-dark" href="{{ url_for('index', page=page_num, values=values) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-dark" href="{{ url_for('index', page=page_num, values=values) }}">{{ page_num }}</a>
            {% endif %} 
          {% else %}
            {% if checkins.page == page_num %}
              <a class="btn btn-dark" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-dark" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
        
        

      <tfoot>
        <tr>
          <th colspan="4" class="text-right">Total Hours: </th>
          <th colspan="1"></th>
        </tr>
      </tfoot>
        
  </tbody>
</table>

{% endblock %}
