{% extends 'base.html' %}

{% block head %} 
<title>New Post</title>
{% endblock %}

{% block body %} 
<h1>Create New Post:</h1>

<hr>
<form action='/posts/new' method='POST'>
    <label for="content">Title:</label> 
    <input class="form-control" type="text" name='title' id='title' placeholder="Enter Title" aria-label="Search">
    <br>

    <label for="content">Author:</label> 
     <input class="form-control" type="text" name='author' id='author' placeholder="Enter Author" aria-label="Search">
    <br>
    
    <label for="content">Post:</label> 
    <textarea class="form-control" name='content' id="content" rows="3"></textarea>
    <br>
    <input type='submit' value='Post'>
    <a class="btn btn-danger" href='/posts'>Cancel</a>
</form>
<hr>

{% endblock %}